    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section>
          <!-- Facebook -->
          <a class="btn btn-outline-light facebook btn-floating m-1" target="_blank" href="https://www.facebook.com/profile.php?id=100080303483154" role="button"
             ><i class="fab fa-facebook-f"></i
            ></a>

          <!-- Twitter -->
          <a class="btn btn-outline-light twitter btn-floating m-1" target="_blank" href="https://twitter.com/adogtame8" role="button"
             ><i class="fab fa-twitter"></i
            ></a>

          <!-- Google -->
          <a class="btn btn-outline-light google btn-floating m-1" href="mailto:adogtame.gps@gmail.com" role="button"
             ><i class="fab fa-google"></i
            ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light instagram btn-floating m-1" target="_blank" href="https://www.instagram.com/adogtame8/" role="button"
             >
             <i class="fab fa-instagram"></i
            ></a>

        </section>
        <div class="text-center">
        © 2022 Copyright:
        <a class="link" href="/">Adogtame-gps</a>
      </div>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      
      <!-- Copyright -->
    </footer>