<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navegacion">
    <div class="container">
      <a class="navbar-brand " href="/"><img class="circle_logo" src="/images/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          
            <li class="nav-item">
              <a class="nav-link" href="/animales">Animales</a>
            </li>
                        <li class="nav-item">
              <a class="nav-link" href="/users/protectoras">Protectoras</a>
            </li>
            
            {{# protectora }}
            <li class="nav-item">
              <a class="nav-link" href="/animales/add">Añadir animales</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notes 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/notes">All Notes</a>
                <a class="dropdown-item" href="/notes/add">Add A Note</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logout">Logout</a>
              </div>
            </li> -->
            {{/ protectora}}
                        {{# adoptante }}
            <li class="nav-item">
              <a class="nav-link" href="/users/solicitudes">Mis solicitudes</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notes 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/notes">All Notes</a>
                <a class="dropdown-item" href="/notes/add">Add A Note</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logout">Logout</a>
              </div>
            </li> -->
            {{/ adoptante}}
            {{^ user}}
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Iniciar sesion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/registro">Registrarse</a>
            </li>
            {{/ user}}
        </ul> 
      </div>
  </nav>
  </header>