<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand " href="/"><img class="circle_logo" src="/images/logo.png" alt=""></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/animales">Animales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/protectoras">Protectoras</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">


                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Usuario</a>
                        {{# protectora }}
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="/animales/add" class="dropdown-item">Añadir animales</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        {{/ protectora}}
                        
                    </li>
                    {{/if}}
                    {{^ user}}
                    <li class="nav-item">
                    <a class="nav-link" href="/users/login">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/users/registro">Registrarse</a>
                    </li>
                    {{/ user}}

                </ul>
            </div>
        </div>
    </nav>    


  
  </header>