<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid margenNav">
         
                <a class="navbar-brand " href="/"><img class="circle_logo" src="/images/logo.png" alt=""></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
           
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-end margenNav">
            
                    <li class="nav-item">
                        <a class="nav-link link" href="/animales">Animales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="/users/protectoras">Protectoras</a>
                    </li>
               
                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle link" data-bs-toggle="dropdown">Usuario</a>
                        {{# protectora }}
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="/animales/add" class="dropdown-item letraNegro  link">Añadir animales</a>
                                <a href="/users/solicitudesProtectora" class="dropdown-item letraNegro link">Solicitudes</a>
                                <div class="dropdown-divider"></div>
                                <a href="/users/logout" class="dropdown-item letraNegro link">Logout</a>  
                            </div>
                        {{/ protectora}}
                        {{# adoptante }}
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="/users/solicitudesAdoptante" class="dropdown-item link">Mis solicitudes</a>
                                <div class="dropdown-divider"></div>
                                <a href="/users/logout" class="dropdown-item link">Logout</a>
                            </div>
                        {{/ adoptante}}
                        
                    </li>
                    {{/if}}
                    {{^ user}}
                    <li class="nav-item">
                    <a class="nav-link link" href="/users/login ">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link link" href="/users/registro">Registrarse</a>
                    </li>
                    {{/ user}}
                     <li class="nav-item">
                        <a class="nav-link link" href="/users/sobreNosotros">Sobre Nosotros</a>
                    </li>
            </div>
        </div>
    </nav>      
  </header>