<% if(typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
  <div class="alert alert-success" role="alert">
  <%= success_msg %>
</div>
  <% } %>
  <% if(typeof error !== 'undefined' && error.length > 0) { %>
    <div class="alert alert-warning" role="alert">
    <%= error %>
  </div>
    <% } %>
  <% if(typeof error_msg == 'object' && error_msg.length > 0) { %>
  <% error_msg.forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
      <%= error.msg %>
    </div>
  <% }); %>
  <% } %>
