<% if(typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
  <div class="alert alert-success" role="alert">
  <%= success_msg %>
</div>
  <% } %>
  <% if(typeof errors_msg == 'object' && errors_msg.length > 0) { %>
  <% errors_msg.forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
      <%= error.msg %>
    </div>
  <% }); %>
  <% } %>
    
