:root{
    --primario: #b6d5e9;
    --fuenteParrafos: 'Open Sans', sans-serif;
}
html{
    box-sizing: border-box;/*par aque no afecte al ancho de nuestros elelmentos*/
    font-size: 62.5%;

}

body{
   
    font-size: 16px; /*1 rem = 10px */
    background-color: var(--primario);
    /*font-family: 'Krub', sans-serif;*/
    font-family: var(--fuenteParrafos);
    padding-top: 6rem;
}
a{
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 3.8rem;

    
}
img{
    max-width: 100%;
}
.no-margenes{
    margin: 0;
}
.no-padding{
    padding: 0;
}

.navegacion{
    height: 8rem;
    width: 100%;
    position: fixed;
    top: 0px;
    right:0px;
    left:0px;
    max-width:100%;
    height:70px;   /* Por darle un valor fijo para evitar conflictos con :auto */
    z-index:1000000
    
}
#logo_home{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.borde{
    background-color: aliceblue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 3px solid aliceblue;
    padding-right:3%;
    padding-bottom: 3%;
}


#cajaNombre, #cajaTipo, #cajaRaza{
    margin-top: 10px;
}

#nombre, #tipo,#raza{
    margin-left:5px;
    text-align: left;
    margin-top: 10px;
    color:black;
}

#formularioUsuarioNuevo{
    display: grid;
    grid-template-areas: "col1 col2";
    text-align: center;
    margin-top: 30px;
    margin-bottom: 52px;
    margin-left: 10px;
}

.btn{
    margin:5px;
}

.logo{
    margin-bottom: 20px;
}

.input-group{
    margin:5px;
}

.submit_add {
    display: flex;
    align-items: center;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .redondeado{
    border-radius: 2rem;
  }
  .sombreado{
    box-shadow: 0px 0px 10px 0px #c0b7c0 inset;

  }
  
  .titulo{

    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    font-family: 'Krub', sans-serif;

  }
  
 .contenedor{

max-width: 120rem;
width: 90%;
margin: 0 auto;
 }


 #gkContentTop {
	padding-top:0;
}

#gkTopMenu .custom p, #gkTopMenu .custom img{
	margin-top:0!important;
}
#content .site-content_wrap{
    padding-top:0;
    }
    #content {
        padding: 0 !important;
    }