<%- include('../partials/messages.ejs') %>
<div class="jumbotron mt-4">
    <h1 class="display-4">ADOGTAME</h1>
    <p class="lead">Pagina para adoptar animales</p>
    <hr class="my-4">
    <p>Otra frasecita</p>
  </div>
  