<div class="login">
    <div class="card">
      <div class="card-header">
        <h1>
          Iniciar sesión
        </h1>
      </div>
        <img class="rounded-circle mx-auto d-block logo m-4" src="/images/logo.png" alt="Logo">
      <div class="card-body">
        <form action="/users/login" method="POST" novalidate>
          <div class="mb-3">
            <label for="validationEmail" class="form-label">Email</label>
            <input type="email" class="form-control {{#errors.email}}is-invalid{{/errors.email}}" name="email" placeholder="Email" id="validationNombre" aria-describedby="validationNombreFeedback" {{#errors.email}}autofocus{{/errors.email}} value="{{email}}">
            <div id="validationNombreFeedback" class="invalid-feedback">
              {{errors.email}}
            </div>
          </div>
          <div class="mb-3">
            <label for="validationEmail" class="form-label">Password</label>
            <input type="password" class="form-control {{#errors.password}}is-invalid{{/errors.password}}" name="password" placeholder="Password" id="validationPassword" aria-describedby="validationPasswordFeedback" {{#errors.password}}autofocus{{/errors.password}} value="{{password}}">
            <div id="validationNombreFeedback" class="invalid-feedback">
              {{errors.password}}
            </div>
          </div>
          <div class="buttonsCard">
            <button class="btn btn-primary btn-block">Iniciar sesión</button>
          </div>
        </form>
      </div>
    </div>
</div>