<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Protectora Register 
      </div>
      <div class="card-body">
        <%- include('../partials/messages.ejs') %>
        
        <form action="/users/registro/protectora" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="nombre" value="">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="cif" placeholder="nif" value="">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="telefono" placeholder="telefono" value="">
          </div>
          <!-- <div class="form-group">
            <input type="text" class="form-control" name="direccion" placeholder="direccion" value="">
          </div> -->
          <div class="form-group">
            <input type="password" hidden class="form-control" name="password" placeholder="Password" value="<%= password %>">
          </div>
          <div class="form-group">
            <input type="text" hidden class="form-control" name="email" placeholder="email" value="<%= email %>">
          </div>
          <!-- <legend class="col-form-label">Tipo</legend>
               <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo" id="inlineAdoptante" value="Adoptante">
                <label class="form-check-label" for="inlineAdoptante">Adoptante</label>
              </div>
                            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo" id="inlineProtectora" value="Protectora">
                <label class="form-check-label" for="inlineProtectora">Protectora</label>
              </div> -->
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a description" id="floatingDescripcion" name="descripcion" style="height: 100px"></textarea>
                <label for="floatingDescripcion">Descripción</label>
              </div>
              <div>
                <button class="btn btn-primary btn-block">
                  Signup 
                </button>
              </div>

        </form>
      </div>
    </div>
  </div>
</div>
