  <div class="col-md-8 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <h3>New Animal</h3>
      </div>
      <div class="card-body">

            <%- include('../partials/messages.ejs') %>
            <form action="/animales/add" method="POST">
              <div class="mb-3">
                  <label class="form-label" for="inputNombre">Nombre</label>
                  <input type="text" name="nombre" class="form-control" id="inputNombre" placeholder="Nombre">
              </div>
              <div class="mb-3">
                <label class="form-label" for="inputTipo">Tipo</label>
                <input type="text" name="tipo" class="form-control" id="inputTipo" placeholder="Tipo">
              </div>
              <div class="mb-3">
                <label class="form-label" for="inputRaza">Raza</label>
                <input type="text" name="raza" class="form-control" id="inputRaza" placeholder="Raza">
              </div>
              <div class="mb-3">
                <label class="form-label" for="inputEmail">Edad</label>
                <input type="number" name="edad" class="form-control" id="inputEdad" placeholder="Edad">
              </div>
              <legend class="col-form-label">Genero</legend>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" id="inlineMasculino" value="Masculino">
                <label class="form-check-label" for="inlineMasculino">Masculino</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" id="inlineFemenino" value="Femenino">
                <label class="form-check-label" for="inlineFemenino">Femenino</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a description" id="floatingDescripcion" name="descripcion" style="height: 100px"></textarea>
                <label for="floatingDescripcion">Descripción</label>
              </div>
              <button type="submit" class="btn btn-primary">Crear animal</button>
          </form>
       
     
  </div>
</div> </div>